pip
torch
torchvision
torchaudio
lightning
wandb
pandas
numpy
scikit-learn
matplotlib
pyarrow
nvitop
jupyter
notebook
ipykernel
ipywidgets
jsonseq
plotly
multiprocess
rich
paho-mqtt
seaborn
torchinfo
catboost
shap
elasticsearch
folium
statsmodels
thop
calflops
transformers
torchprofile
joblib